In [ ]:
""" Lists = Values in lists are called as elements or items 
    Mutable
    Variable Length
    Accessed by Indexing and Slicing
"""
""" Tuples = similar to lists but the diffrence is ended with parentheses () 
    Immutable
    Variable Length
    Accessed by Indexing and Slicing
"""

In [2]:
cust_info = ["CUST001", "John Doe", 28, ["UK", "12 Des 1999"]]
cust_info2  = ("CUST002", "Jane Smith", 32)

dob_cust_info = cust_info[3]
print(dob_cust_info)

['UK', '12 Des 1999']

In [15]:
## Indexing Tuples
cust_info2[1]
## Slicing Tuples
cust_info2[1:3]

('Jane Smith', 32)

In [19]:
## Tuple Concattenation

cust_info3 = ("CUST003", "Alice Johnson", 25)
all_cust = cust_info2 + cust_info3
print(all_cust)

cust_info4 = cust_info2 + cust_info3 + ("CUST004", "Bob Brown", 30)
print(cust_info4)

('CUST002', 'Jane Smith', 32, 'CUST003', 'Alice Johnson', 25)
('CUST002', 'Jane Smith', 32, 'CUST003', 'Alice Johnson', 25, 'CUST004', 'Bob Brown', 30)

In [21]:
## Min and Max Functions will not work with tuples having mixed data types
exmp_tuple = ("a", "vb")
max(exmp_tuple) ## will be 'vb' as it is lexicographically higher than 'a'

exmp_tupl2 = (1,100,110)
max(exmp_tupl2) ## will be 110

110

In [34]:
## Immutability
## In fact tuples cannot directly be changed the value of elements we can slice it and store to the new value

exp_tuple = ("Hello", "My Name is", 12, 13, "Felix Kurniawan Dharma")
var_slice1 = exp_tuple[0:2]
var_slice2 = exp_tuple[4]

# new_tuple = var_slice1 + var_slice2
new_tuple = exp_tuple[0:2] + (var_slice2,)
print(new_tuple)

('Hello', 'My Name is', 'Felix Kurniawan Dharma')

In [37]:
# Sorting Tuples

tuple1 = (5,3,8,1,2)
sorted_tuple = tuple(sorted(tuple1))
print(sorted_tuple)

(1, 2, 3, 5, 8)

In [ ]:
""" Sets = Unordered collection of unique items and mixed data types
 start with curly braces {}
 Mutable
 cannot have duplicate values
 No indexing and slicing """ 

list1 = [1,2,2,2,2,3,4,5,6,6,6,7,8,8,8]
set1 = set(list1)
len(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
set1.remove(3)
print(set1)

{1, 2, 4, 5, 6, 7, 8}

In [42]:
set1.add(10)
print(set1)

{1, 2, 4, 5, 6, 7, 8, 10}

In [48]:
""" Sets Operatrions
Union = Combination of all unique elements from both sets
Intersection = Elements that are common in both sets
Symmetric Difference = Elements that are in either setA or setB but not in both
 """ 

setA = {1,2,3,4,5}
setB = {4,5,6,7,8}
set_union = setA.union(setB)
print(set_union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
setC = setA.symmetric_difference(setB)
print(setC)

{1, 2, 3, 6, 7, 8}

In [44]:
set_intersection = setA.intersection(setB)
print(set_intersection)

{4, 5}

In [50]:
list_a = [5,1,3,4,4,5,6,7]
list_b = [3,3,5,5,1,7,2]

new_set = set(list_a).intersection(set(list_b))
print(new_set)

{1, 3, 5, 7}

In [63]:
## Dictionarys = Key-Value Pairs
# Key should be unique and immutable
# Values can be of any data type and can be duplicated

cust_dic = {"customerid" : "CUST001",
            "name" : "John Doe",
            "age" : 28,}
cust_dic["name"] = "Felix Kurniawan"
print(cust_dic)

{'customerid': 'CUST001', 'name': 'Felix Kurniawan', 'age': 28}

In [64]:
cust_dic["email"] = "test@gmail.com"

In [65]:
cust_dic.values()

dict_values(['CUST001', 'Felix Kurniawan', 28, 'test@gmail.com'])

In [66]:
cust_dic.keys()

dict_keys(['customerid', 'name', 'age', 'email'])